<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2"
       name="Sauce Demo IT Matreshka 5"
       parallel="classes">

    <listeners>
        <listener class-name="utils.TestListener"/>
        <listener class-name="utils.AnnotationTransformer"/>
    </listeners>

    <test name="Chrome">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="tests.LoginTest"/>
            <parameter name="browser" value="chrome"/>
        </classes>
    </test>

    <test name="Firefox">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.LocatorTest"/>
            <class name="tests.AddToCartTest"/>
            <class name="tests.RemoveFromCartTest"/>
            <parameter name="browser" value="firefox"/>
        </classes>
    </test>

</suite>